<ion-view view-title="ENVIAR ARQUIVOS" name="enviar-arquivos-view">
    <ion-content class="padding" overflow-scroll=”true”>
        <div class="loading">
            <div class="loading-spinner">
                <ion-spinner></ion-spinner>
            </div>
        </div>
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Tipo de Arquivo
                </div>
                <select>
                    <option selected>Avulso</option>
                    <option>Nota Fiscal</option>
                    <option>Tesouraria</option>
                </select>
            </label>
        </div>
        <div class="files-to-upload-container row responsive-sm"></div>
        <button class="button button-block button-calm" ladda="submitting" data-style="expand-right" ng-click="uploadFile(0)"><span ng-show="submitting">Enviando</span><span ng-show="!submitting">Enviar</span></button>
    </ion-content>
</ion-view>
